@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Poppins:ital,wght@0,700;0,800;1,900&family=Source+Code+Pro:wght@700;900&display=swap');


/* Auto settings */
/* 

font-family: 'Caveat', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Source Code Pro', monospace;

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #e8e2e2;
}

.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #121212;
    display: flex;
}
header{
    width: 100%;
    height: 100px;
    padding: 20px;
    place-items: center;
    display: flex;
    justify-content: space-around;
    position: fixed;


}
.logo{
    font-size: 3em;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 40px;
}

.menu-box{
    width: 20%;
    background: #26242484;
    height: 100vh;
    overflow: hidden;
    text-align:start;
    padding: 10em 0 5em 3em;
    font-size: 19px;
    /* position: fixed; */
    transition: 0.7s all;
}
.menu-box:hover ul li a{
    color:#ffffff96 ;
}
.ri-menu-2-line{
    display: none;
}
.volume{
    position: absolute;
    bottom: 5em;
    display: inline-block;
    text-align: center;
    place-items: center;
}
.ri-volume-up-line{
    margin-right: 30px;
    font-size: 2em;
}
#vol-control{
    width: 200px;
    background:#fff;
    height:10px;
    border-radius: 10px;
}
#vol-control::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:rgb(89, 255, 0);
    height:20px;
    width:20px;
    border-radius: 50%;
}
.menu-box ul li{
    list-style: none;
    margin-top: 20px;
}
.menu-box ul li a{
    text-decoration: none;
    font-size: 1.4em;
    transition: 0.7s;
}
.menu-box ul li a:hover{
    text-decoration:line-through;
    font-size: 1.5em;
    color: #fff;
}


.recommend{
    width:40%;
    height:90%;
    /* background: #fff; */
    padding: 100px 0 0 50px;
}

.recommend h2{
    font-size: 2.5em;
    letter-spacing: 10px;
}




.recom-box{
    width: 100%;
    height: 100%;
    display: grid;
    padding-top: 50px;
    overflow-x:hidden;
    overflow-y:auto;
    grid-template-columns: 1fr 1fr;
}



.recom-box .item p{
    font-size: 1em;
}
.recom-box .item img{
    width: 150px;
    height: 140px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
}

.music-list{
    width: 40%;
    height: 90%;
    /* padding-top: 150px; */
    overflow-y:auto;
    overflow-x:hidden;
    /* background: #fff; */
    margin-top: 150px;
    position: relative;
}
.music-list h2{
    font-size: 3em;
    margin-bottom: 30px;
    margin-left: 20px;

}
#album-music{
    padding-left: 30px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: #ffffff73; 
  }
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.637); 
    border-radius:30px;
  }
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
  }


.music-box{
    width: 90%;
    padding: 5px 20px;
    height: 60px;
    border-radius: 20px;
    background: #ffffffa1;
    display: flex;
    position: relative;
    justify-content: space-between;
    place-items: center;
    margin-top: 20px;
}
.music-box-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(../images/miyagiPhoto.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    place-items: center;
    justify-content: center;
    overflow: hidden;
}
.MusicArtist{
    color: #000 !important;
    font-size: 13px;
    font-weight: bold;
}
i.ri-play-line,
i.ri-pause-fill{
    opacity: 0;
    font-size: 40px;
    font-weight: 700;
    background: #000;
}

.music-box-image:hover i{
    opacity: 1;

}